*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: aqua;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width:  165px;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
    justify-content: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: auto;
    border-radius: 50%;
    border: 2px solid red;
}
#name{
    margin: 20px;
    font-size: 1.5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem ;
    font-weight: 700;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap:5rem;
}


#user-score, #comp-score , #draw-score {
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    font-size: 2rem;
}
#msg{
    background-color: #081b31;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}